version: "3"
services:
    social_media:
              image: iamkrishu1916/socialmedia_api_image:v1.0
              depends_on:
                - db
              ports:
                - "80:8000"
              #volumes:
                #- ./:/usr/src/app:ro
              #command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
              environment:
                - DATABASE_HOSTNAME=${DATABASE_HOSTNAME}
                - DATABASE_PORT=${DATABASE_PORT}
                - DATABASE_PASSWORD=${DATABASE_PASSWORD}
                - DATABASE_NAME=${DATABASE_NAME}
                - DATABASE_USERNAME=${DATABASE_USERNAME}
                - SECRET_KEY=${SECRET_KEY}
                - ALGORITHM=${ALGORITHM}
                - ACCESS_TOKEN_EXPIRE_MINUTES=${ACCESS_TOKEN_EXPIRE_MINUTES}

    db:
              image: postgres:15
              environment:
                - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
                - POSTGRES_DB=${DATABASE_NAME}

              volumes:
                - postgres-db:/var/lib/postgresql/data
      
volumes:
    postgres-db: